
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    scroll-behavior:smooth;
}

body{
    background:black;
    color:white;
}


nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}


.home{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#2563eb,#7c3aed);
    overflow:hidden;
}

.moving-text{
    font-size:3rem;
    animation: moveText 3s infinite alternate;
}



.home p{
    margin-top:15px;
    font-size:1.2rem;
}

.btn{
    margin-top:25px;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    font-size:17px;
}


section{
    padding:80px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
    color:#38bdf8;
}


.about p{
    text-align:center;
    max-width:800px;
    margin:auto;
    line-height:1.8;
}


.skill-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.skill{
    background:#1e293b;
    padding:20px;
    width:180px;
    text-align:center;
    border-radius:15px;
    transition:.3s;
}

.skill:hover{
    transform:translateY(-10px);
}


.project-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.project{
    background:#1e293b;
    padding:20px;
    width:260px;
    border-radius:15px;
    transition:.3s;
}

.project:hover{
    transform:scale(1.05);
}


.contact{
    text-align:center;
}

.contact p{
    margin:10px 0;
}


footer{
    text-align:center;
    padding:20px;
    background:#111827;
}


@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .moving-text{
        font-size:2rem;
    }

    .skill,
    .project{
        width:100%;
    }
}